@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"),
       url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
       url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
       url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* =======================================================
*  Template Style
*  Edit this section only where necessary
* ======================================================= */
body {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 992px) {
  body {
    font-size: 16px;
  }
}

a {
  color: #2c98f0;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #2c98f0;
  outline: none;
  text-decoration: none !important;
}

p {
  margin-bottom: 0em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 400;
  margin: 0 0 10px 0;
}

::-webkit-selection {
  color: #fff;
  background: #2c98f0;
}

::-moz-selection {
  color: #fff;
  background: #2c98f0;
}

::selection {
  color: #fff;
  background: #2c98f0;
}

#colorlib-page {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#colorlib-aside {
  padding-top: 1em;
  padding-bottom: 40px;
  float: left;
  width: 300px;
  position: fixed;
  overflow-y: auto;
  z-index: 1001;
  background: #f2f3f7;
  padding-right: 20px; /* Added space */
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  #colorlib-aside {
    width: 300px;
    transform: translateX(-300px);
    padding-top: 4em;
  }
}

#colorlib-main {
  width: calc(100% - 300px);
  margin-left: 300px;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  #colorlib-main {
    width: 100%;
    padding: 1em;
    margin-left: 0;
  }
}

.container-wrap {
  max-width: 1170px;
  margin: 0 auto;
  float: left;
}

@media screen and (max-width: 768px) {
  .container-wrap {
    padding: 0 15px;
  }
}

section {
  margin: 0 !important;
}

.flexslider {
  margin: 0;
}

.flex-active-slide {
  width: 95% !important;
}

@media only screen and (max-width: 768px) {
  section {
    margin-right: -50px !important;
  }

  #colorlib-main {
    margin-left: 0 !important;
  }

  .flex-active-slide {
    width: 99% !important;
  }

  .colorlib-about, .colorlib-education, .colorlib-internship,
  .colorlib-services, .colorlib-skills, .colorlib-work,
  .colorlib-blog, .colorlib-contact {
    padding-right: 0 !important;
  }
}

.colorlib-about, .colorlib-education, .colorlib-internship,
.colorlib-services, .colorlib-skills, .colorlib-work,
.colorlib-blog, .colorlib-contact {
  padding-right: 100px;
}

.colorlib-heading {
  font-size: 18px;
  margin-bottom: 4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .colorlib-heading {
    margin-bottom: 3em;
  }
}

.btn {
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: 0.5s;
  padding: 8px 15px;
}

.btn:hover, .btn:active, .btn:focus {
  box-shadow: none;
  outline: none;
}

.btn-primary {
  background: #2c98f0;
  color: #fff;
  border: 2px solid #2c98f0;
}

.btn-primary:hover {
  background: #44a4f2;
  border-color: #44a4f2;
}

#cvdownload {
  background-color: rgba(44, 152, 240, 0.3);
  border: 1px solid rgba(44, 152, 240, 0.7);
  padding: 10px;
  border-radius: 10%;
  transition: background-color 1s;
}

#cvdownload:hover {
  background-color: rgba(44, 152, 240, 1);
  border-color: rgba(44, 152, 240, 1);
  color: white;
}

.colorlib-footer {
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .colorlib-footer {
    position: relative;
    bottom: 0;
  }
}

#colorlib-hero {
  min-height: 500px;
  background: #fff url(../images/loader.gif) no-repeat center center;
  width: 100%;
  float: left;
  margin-bottom: 10em;
  clear: both;
}

.colorlib-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.colorlib-social li a {
  font-size: 22px;
  color: #000;
  padding: 10px;
  border-radius: 7px;
}

.colorlib-social li a:hover {
  color: #2c98f0;
}

.form-control {
  height: 54px;
  font-size: 16px;
  background: #f2f3f7;
  border: none;
}

.form-control:focus {
  outline: none;
  background: #f0f0f0;
}

.progress-bar {
  border-radius: 8px;
  position: relative;
}

.progress-bar:after {
  content: '';
  position: absolute;
  top: -2px;
  right: 0;
  width: 10px;
  height: 10px;
  background: #2c98f0;
  border-radius: 50%;
}

.container-wrap {
  padding-left: 25px;
}

@media screen and (max-width: 768px) {
  .container-wrap {
    padding-left: 15px;
  }
}
